$lu-peach: #FDD48D;
$lu-yellow: #F2F618;
$lu-magenta: #E362FB;
$lu-red: #FC5B5B;
$lu-orange: #FF9400;
$lu-pink: #FFC8BD;
$lu-green: #78D271;
$lu-blue: #44A3D5;
$lu-lavendar: #E0BEEB;
$lu-silver: #BAB8B6;
$lu-gray: #5F5F60;

@import "labs-ui-settings";
@import 'foundation-sites/foundation';
@include foundation-everything;

@include foundation-global-styles;
@include foundation-xy-grid-classes;

@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;

@include foundation-badge;

@include foundation-callout;

@include foundation-close-button;
@include foundation-menu;

@include foundation-dropdown;
@include foundation-dropdown-menu;

@include foundation-label;

@include foundation-switch;
@include foundation-table;

@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

@import 'modules/_m-accordion-menu';
@import 'modules/_m-layer-menu';
