<div class="docs-header" data-anchor="top">
  <div class="grid-container">

    <div class="grid-x grid-margin-x xlarge-padding-top">
      <div class="cell large-auto">
        <h1 class="no-margin">Labs UI</h1>
        <h2 class="header-large text-charcoal text-weight-normal">NYC Planning Labs Ember.js Components</h2>
      </div>
      <div class="cell large-shrink">
        <p class="text-dark-gray text-right">Version {{version}}</p>
        <a class="button" href="https://github.com/NYCPlanning/labs-ui">
          {{fa-icon "github" prefix="fab"}}
          <strong class="medium-down-expanded"><span class="show-for-large">github.com/</span>NYCPlanning/labs-ui</strong>
        </a>
      </div>
    </div>

  </div>
</div>

{{yield}}
