<div class="grid-x">
  <div class="cell medium-6 large-8" style="height:100vh;">

    {{#labs-map id='map' mapLoaded=(action 'handleMapLoad') as |map|}}
      {{map.labs-layers layerGroups=model.layerGroups}}
    {{/labs-map}}

  </div>
  <div class="cell medium-6 large-4" style="height:100vh;overflow:auto;">

    {{#labs-ui/layer-groups-container
      title='My Layer Groups'
      as |menu|
    }}

      {{#each model.layerGroupsArray as | layerGroup |}}
        {{#menu.layer-group-toggle
          label=layerGroup.legend.label
          tooltip=layerGroup.legend.tooltip
          icon=layerGroup.legend.icon
          active=true
        }}
          {{#if layerGroup.legend.items}}
            {{labs-ui/legend-items items=layerGroup.legend.items}}
          {{/if}}
        {{/menu.layer-group-toggle}}
      {{/each}}
    {{/labs-ui/layer-groups-container}}

  </div>
</div>

{{outlet}}
