// --------------------------------------------------
// Base: Typography
// --------------------------------------------------

//
// Headings
// --------------------------------------------------
.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {    @extend h6; }

h6,
.header-tiny {
  text-transform: uppercase;
  font-weight: $global-weight-normal;
  margin-bottom: 0.5em;
}


//
// Buttons
// --------------------------------------------------
button {
  cursor: pointer;
}


//
// Typography helper classes
// --------------------------------------------------
.nowrap {
  white-space: nowrap;
}
.no-margin {
  margin: 0 !important;
}
.small-margin-bottom {
  margin-bottom: $global-margin / 2;
}

.text-small {
  font-size: rem-calc(13);
  line-height: 1.7;
}

.text-tiny {
  font-size: rem-calc(10);
  line-height: 1.5;
}

.text-weight-normal {
  font-weight: $global-weight-normal;
}
.text-weight-bold {
  font-weight: $global-weight-bold;
}


//
// Colors
// --------------------------------------------------
.aqua { color: $aqua; }
.aqua-light { color: $aqua-light; }
.aqua-dark { color: $aqua-dark; }
.aqua-muted { color: $aqua-muted; }
.teal { color: $teal; }
.teal-light { color: $teal-light; }
.teal-dark { color: $teal-dark; }
.teal-muted { color: $teal-muted; }
.green { color: $green; }
.green-light { color: $green-light; }
.green-dark { color: $green-dark; }
.green-muted { color: $green-muted; }
.chartreuse { color: $chartreuse; }
.chartreuse-light { color: $chartreuse-light; }
.chartreuse-dark { color: $chartreuse-dark; }
.chartreuse-muted { color: $chartreuse-muted; }
.yellow { color: $yellow; }
.yellow-light { color: $yellow-light; }
.yellow-dark { color: $yellow-dark; }
.yellow-muted { color: $yellow-muted; }
.gold { color: $gold; }
.gold-light { color: $gold-light; }
.gold-dark { color: $gold-dark; }
.gold-muted { color: $gold-muted; }
.orange { color: $orange; }
.orange-light { color: $orange-light; }
.orange-dark { color: $orange-dark; }
.orange-muted { color: $orange-muted; }
.red { color: $red; }
.red-light { color: $red-light; }
.red-dark { color: $red-dark; }
.red-muted { color: $red-muted; }
.fuchsia { color: $fuchsia; }
.fuchsia-light { color: $fuchsia-light; }
.fuchsia-dark { color: $fuchsia-dark; }
.fuchsia-muted { color: $fuchsia-muted; }
.purple { color: $purple; }
.purple-light { color: $purple-light; }
.purple-dark { color: $purple-dark; }
.purple-muted { color: $purple-muted; }
.indigo { color: $indigo; }
.indigo-light { color: $indigo-light; }
.indigo-dark { color: $indigo-dark; }
.indigo-muted { color: $indigo-muted; }
.blue { color: $blue; }
.blue-light { color: $blue-light; }
.blue-dark { color: $blue-dark; }
.blue-muted { color: $blue-muted; }

.black { color: $black; }
.charcoal { color: $charcoal; }
.dark-gray { color: $dark-gray; }
.gray { color: $gray; }
.light-gray { color: $light-gray; }
.silver { color: $silver; }
.white-smoke { color: $white-smoke; }
.off-white { color: $off-white; }
.white { color: $white; }

.dcp-orange { color: $dcp-orange; }
.a11y-orange { color: $a11y-orange; }
.dcp-yellow { color: $dcp-yellow; }
.a11y-yellow { color: $a11y-yellow; }

.lu-peach { color: $lu-peach; }
.lu-yellow { color: $lu-yellow; }
.lu-magenta { color: $lu-magenta; }
.lu-red { color: $lu-red; }
.lu-orange { color: $lu-orange; }
.lu-pink { color: $lu-pink; }
.lu-green { color: $lu-green; }
.lu-blue { color: $lu-blue; }
.lu-lavendar { color: $lu-lavendar; }
.lu-silver { color: $lu-silver; }
.lu-gray { color: $lu-gray; }


//
// Inputs
// --------------------------------------------------
::-ms-clear {
  // nix IE's default clear buttons
  display: none;
}
